.code-inputs {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

.code-box {
    width: 10px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 5px;
    color: #000;
}

.icon-password {
    background: url('../../../assets/img/password.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 25px;
    height: 22px;
    margin-top: 4px;
    position: absolute;
}


.boton {
    width: 25%;
    height: 45px;
    background: #c00;
    color: white;
    padding: 10px;
    border: 1px solid #975102;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-top: 20px;
    backdrop-filter: blur(50%);
}

.boton:hover {
    background: #a00;
}