.body {
    background-color: #fff;
}

.container {
    display: flex;
    height: 100vh;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.usuario {
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    background: rgb(248, 231, 231);
    margin-left: 20px;
    width: 400%;
    box-shadow: 0 0 8px #e58181;
}

.usuario:hover {
    scale: 0.98;
    box-shadow: 0 0 px rgba(0, 0, 0, 0.2);
}

.user-infos {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    margin-left: 20px;
}

.user-role {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px;
    transition: all 0.3s ease-in-out;
}

.card {
    border-radius: 10px;
    height: 150px;
    text-align: center;
    background: rgb(248, 231, 231);
    box-shadow: 0 0 8px #e58181;
}

.card:hover {
    scale: 1.05;
    box-shadow: 0 0 px rgba(0, 0, 0, 0.2);
}

.card p {
    color: rgb(57, 54, 54);
    font-size: 16px;
}

.card h2 {
    font-size: 24px;
    margin-top: 50px;
    color: #000;
}

.buttonss {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.buttonss button {
    padding: 15px 60px;
    border-radius: 8px;
    cursor: pointer;
    background: rgb(222, 163, 163);
    color: #000;
    width: auto;
    height: 80px;
    font-size: 16px;
    margin-bottom: 50px;
}

.buttonss button:hover {
    background: #c4a3a3;
}

.iconos {
    margin-left: 48%;
    margin-top: 10px;
}